<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripción a Cursos</title>
</head>
<body>
    <h1>Inscripción a Cursos</h1>
    <table class ="table">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Profesor</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody id="courses-table">
            <!-- Aquí se llenarán los cursos disponibles -->
        </tbody>
    </table>
    <script src="/public/enrollment.js"></script>
</body>
</html>
